*, ::after, ::before  {
  box-sizing: border-box;
  margin:0;
  padding:0; 
}

body  {
  font-family:'Times New Roman', Times, serif;
}

.left-container  {
  background-image: url(https://seido.vn/wp-content/uploads/2020/12/Colorful-Geometric-Simple-Background-Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.row-main  {
  height: 100vh;
}

.col-4-align  {
  margin-top: 10%;
}

.language  {
  color: #ffffff;
  text-decoration: none;
}

.text-flag  {
  background-color: #ffffff;
}